// Vars

:root {
  // base
  --base-txt-color: #fff;
  --heading-color: #fff;
  --base-font-family: 'Work Sans', sans-serif;
  --body-bg: linear-gradient(to bottom right, var(--brand-color-indigo) , var(--brand-color-purp), var(--brand-color-purp), var(--brand-color-blue));
  
  // colors  
  $brand-color: #AFD140;
  --brand-color: #{$brand-color};
  --link-color: --brand-color;
  --brand-color-green: #AFD140;
  --brand-color-lightpurp: #A293C6;
  --brand-color-purp: #6559A6;
  --brand-color-indigo: #201e5b;
  --brand-color-blue: #00b8f1;

  /*
  // fonts
  --brand-header-font: "obviously-wide, sans-serif";
  --brand-header-weight: 600; 
  --brand-button-font: "rift, sans-serif" */
  
  // app header
  --app-header-height: 60px;
  --app-header-txt-color: #fff;
  --app-header-title-font-size: 1.6em;

  // shoelace tokens
  // full list here:
  // https://github.com/shoelace-style/shoelace/blob/current/src/styles/base.scss
  --sl-color-primary-50: #f4f4f4;
  --sl-color-primary-100: #{lighten($brand-color, 40%)};
  --sl-color-primary-200: #{lighten($brand-color, 30%)};
  --sl-color-primary-300: #{lighten($brand-color, 20%)};
  --sl-color-primary-400: #{lighten($brand-color, 10%)};
  --sl-color-primary-600: #{$brand-color};
  --sl-color-primary-500: #{darken($brand-color, 10%)};
  --sl-color-primary-700: #{darken($brand-color, 20%)};
  --sl-color-primary-800: #{darken($brand-color, 30%)};
  --sl-color-primary-900: #{darken($brand-color, 40%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};
}